body {
  background: url(images/dangerdays-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

#title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home-link {
  position: absolute;
  left: 0;
  top: 0;
}

#parallax-box {
  width: 100%;
  height: 800px;
  position: relative;
}

.parallax-layer {
  position: absolute;
  display: block;
}

#layer1 {
  top: 0px;
  left: 0px;
}

#spider {
  height: 900px;
}
