body {
  background: url(images/revenge-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  font-family: "Courier New";
  font-weight: bold;
}
